body { margin: 0; padding: 0; overflow: hidden; }

.clearfix { clear: both; }

.container { margin: 0; padding: 0; }

.toolbar {
    min-width: 240px;
    height: 26px;
    background-color: #eeeeee;
    border: 1px solid #d5d5d5;
    position: fixed;
    padding: 2px 5px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1020;
    /* -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1); */
}

.toolbar .btn { }
.toolbar .btn-forward,
.toolbar .btn-backward { float: left; width: 25px; margin-right: 5px; }
.toolbar .btn-go { float: right; width: 30px; margin-left: 5px; }
#location { position: absolute; width: auto; left: 65px; right: 40px; }

.viewport { position: absolute; top: 29px; bottom: 0; left: 0; right: 0;  background: #ffe; }

#page { width: 100%; height: 100%; }
