.content { width: 600px;  margin: 20px auto; color: #555; }
.content h3 { border-bottom: 1px solid #eee; }
.fieldset { color: #777; }
.fieldset label { display: inline-block; font-weight: bold; width: 150px; 
    text-align: right; padding: 3px 8px; }
.fieldset .field { display: inline-block; width: 430px; padding: 2px auto; }
.actions { text-align: right; border-top: 1px solid #eee; margin-top: 18px; 
    padding: 8px 18px; background: #F8F8F8; } 

#messages { color: #468847; background-color: #dff0d8; margin-right: 10px; padding: 1px 5px; }
#user-agent-name { width: 100px; }
#user-agent-value { width: 300px; }
